.list_numbers{
  position:absolute;
  display:block;
  top:17px; right:10px;
  width:15px; height:15px;
  line-height: 15px;
  text-indent: 0px;
  opacity: 0;

  text-align: center;
  border-radius:15px;
  background:#FF3366;
  color:#fff;
  font-size: 10px;
}


.list-item{
  position:relative;
  padding: 10px 10px;
  margin:0 -10px;
  color:#333;
  border-bottom: 1px solid #f4f4f4;
  &:active{
    color:#FF3366;
  }
  &:first-child{
    border-top: 1px solid #f4f4f4;
  }
}

  .list-title{
    font-size:15px;
    font-weight: 300;
    line-height:18px;
    color:#f36;
    width:100%;
    padding: 13px 16px 10px 16px;
    margin: 0;
  }
    .list-title--margin{
      margin:0 -10px;
      padding:10px 10px 10px 10px;
    }
  .item--complete {
    .list-item__title{
      color:#666;
    }
  }
  .list-item__title{
    font-size: 18px;
    max-height: 78px;
    color:#333;
    text-overflow:ellipsis;
    overflow:hidden;
    padding-bottom:3px;
  }
  .list-item__title--bottom{
    border-bottom: 1px solid #f4f4f4;
  }
  

  .list-item__desc{
    font-size: 12px;
    color:#999;
  }

.floating-label{
  position:absolute;
  bottom:10px;
  font-size:12px;
  right:10px;
}

.list--pad-bottom{
  padding-bottom:10px;
}

.list-data__item__label{
  font-size:11px;
  font-weight: normal;
}

  .list-data__row{
    border-bottom: 1px solid #f4f4f4;
    padding:15px 10px;
  }

  .list-data__item{
    width:50%;
    display: inline-block;
    box-sizing: border-box
  }

.list-data__item__text{
  height:20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width:768px) {
  .list-data__item__label{
    font-size: 13px;
  }
  .list-data__row{
    padding:20px 20px;
  }
  .list-item{
    padding: 10px 15px;
    margin: 0 -15px;
  }
    .list-title--margin{
      margin:0 -15px;
      padding:15px 15px 10px 15px;
    }
}
