/* global styles */

@import 'fonts/roboto';
@import 'fonts/icons';
@import 'typography';
@import 'links';

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0;
}

.link-active {
  color: #bbbbbb;
  text-decoration: none;
}

section.row{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow-y: scroll;
  height: 100%;
  margin:0 0 0 0;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  transform: translateZ(0);
}

.row__row--header{
  padding-top:44px;
}

.row__row--bottom{
  padding-bottom:50px;
}


:global(body) {
  position: relative;
  min-height:480px;
  h1 {
    margin-top: 80px;
  }

  h2 {
    margin-bottom: 20px;
  }

  p{font-size:14px;}

  img {
    width: 100%;
  }

  #root{
    min-height: 100%;
    background:#fff;
  }

  .search-no-found{padding-top:200px; text-align: center;}
  
  .pagePad{padding-left:10px; padding-right:10px;}
  .pad10{padding:10px;}
  .margtop10{margin-top:10px;}

  .relative{
    position:relative;
  }

  .flip-horizontal {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }

  .cf:before,
  .cf:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }

  .cf:after {
      clear: both;
  }

  /**
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */
  .cf {
      *zoom: 1;
  }

  @media (min-width:768px) {
    font-size:16px;
    p{
      font-size: 16px;
    }
  }
}