/* global styles */

@import 'fonts/roboto';
@import 'fonts/icons';
@import 'typography';
@import 'links';

:global(body) {
  position: relative;

  h1 {
    margin-top: 80px;
  }

  h2 {
    margin-bottom: 20px;
  }

  p{font-size:14px;}

  img {
    width: 100%;
  }
  
  .pagePad{padding-left:10px; padding-right:10px;}

  .relative{
    position:relative;
  }

  .cf:before,
  .cf:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }

  .cf:after {
      clear: both;
  }

  /**
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */
  .cf {
      *zoom: 1;
  }
}
