.header-section{
	position:relative;
	z-index: 3;
	height:150px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
}

	.header-section__title{
		position:absolute;
		bottom:11px;
		font-size:22px;
		height:30px;
		overflow: hidden;
		text-overflow:ellipsis;
		color:#fff;
	}