.sidebar{
	position:absolute;
	z-index:1000;
	top:0;left:0;
	visibility:hidden;
	width:230px; height:100%;
	opacity:0.5;
	border-right:1px solid #eee;
	display:block;
	transform: translateX(-230px);
	background-color: #fff;
	transition:all 0.3s;
}

	.sidebar--show{
		visibility:visible;
		opacity:1;
		transform: translateX(0px);
	}
	.sidebar--hiding{
		visibility:visible;
		opacity:0.8;
		transform: translateX(-230px);
	}
	.sidebar--hidden{visibility:hidden;}


.sidebar_user{
	padding:0px 10px 10px 10px;
	border-bottom: none;
}

	.sidebar_avatar{
		float:left;
		width: 50px; height:50px;
		border-radius: 50px;
	}

	.sidebar_avatar_desc{
		width:140px;
		padding:5px 0 0 10px;
		float:left;
	}
		.sidebar_avatar_name{
			font-size: 16px;
			color: #1D1D26;
			padding-bottom:1px;
			line-height: 20px;
		}

		.sidebar_avatar_title{
			opacity: 0.6;
			font-family: Avenir-Book;
			font-size: 11px;
			color: #1D1D26;
			line-height: 14px;			
		}


.sidebar_list{
    &:active{
    	color:#FF3366;
    }
	position:relative;
	height:20px;
	padding: 15px;
	color:#333;
	line-height:20px;
	box-sizing: content-box;
	border-bottom: 1px solid #f4f4f4;
}
	.sidebar_list_indented{
		padding-left: 30px;
	}

	.sidebar__search-container{
		padding-bottom: 24px;
	}

	.sidebar__small{
		font-size:9px;
		font-size: 10px;
	    color: #999;
	    text-overflow: ellipsis;
	    overflow: hidden;
	}



.sidebar_close-btn{
	padding:6px 10px 0 0;
	display:inline-block;
	width:40px;
	height:30px;
	color:#333;
	font-size:34px;
}

.aright{text-align: right;}

.sidebar_link{
	color:#f36;
	font-size: 13px;
}

.nobb{
	border-bottom:none;
}

.sidebar_label{
    font-size: 12px;
    line-height: 10px;
    padding-top: 6px;
	font-weight: lighter;
	display:block;
}

