.comment{
	padding:10px;
  font-size: 13px;
  word-wrap: break-word;
	border-bottom: 1px solid #f4f4f4;
  p,li{font-size: 13px;}
}

.email{
  padding-bottom:10px;
  border-bottom: 1px solid #f4f4f4;
}
  .email-link{
    padding:5px 10px;
    display:block;
  }

  .comment__meta{
    padding-top:4px;
    color: #aaa;
    font-size: 11px;
  }

    .comment__date,.comment__author{
      display:inline-block;
    }

    .comment__spacer{
      display:inline-block;
      padding:0 5px;
    }

.form-comment{
  padding:10px;
}