.issue-status{
  padding-top:45px;
}

h3{font-size: 16px; font-weight: normal; padding:15px 10px 5px 10px; margin:0;}

.issue__description h1{
	font-size:14px;
	margin-top:15px;
}

.attachment-container{
	border-bottom: 1px solid #f4f4f4;
}

.attachment-item{
	padding:5px 0;
	margin-left: 0px;
}